
.main-div{
    width:1064px;
    margin: 0 auto;
    margin-top: 1%;
}
.nav-li{
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
	font-size: 14px;
}
.nav-ul{
    float: right;
}
.logo{
    margin:0 auto;
    vertical-align: middle;
}
.flex{
    display:flex;
}
.space{
	justify-content: space-between;
	align-items: center;
}
.h1{
    text-align: center;
    margin-top: 1%;
}
.h2{
    font-size:30px;
}
.lastp{
    margin-top: 2%;
}
.p1{
    margin-top: 2%;
}

.size{
    width: 421px;
    height: 280px;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.ds{
    display: inline-block;
}
.size1{
    float: right;
}
.size{
    float: left;
}
.mini-banners-1{
	max-width: 900px;
	margin: 0 auto;	
	width: 100%;
}
.test{
	margin-right: 50px;
}
.mini-banners-2{
	max-width: 900px;
	margin: 0 auto;	
}
.container-2{
	max-width: 900px;
	margin: 0 auto;
	margin-top: 90px;
}
.mini-banners-h3{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	color: #282828;
}
.mini-banners-h1{
	margin-bottom: 20px;
	color: #282828;
	font-size: 14px;
}
.mini-banners-p{
	margin-bottom: 20px;
	color: #282828;
	font-size: 14px;
	margin-bottom: 100px;
}
.img-zomebi{
	width:  420px;
	height: 283px;
}
.imgimg{
    width: 421px;
    height: 280px;
}
/*graybg*/
.gray-bg{
	width: 100%;
	background-color: #282828;
	padding: 50px 0 50px 0;

}
.gray-bg-p{
	text-align: center;
	padding-bottom: 40px;
}

.terms{
	display: inline-block;
	
}
.social{
	display: inline-block;
	float: right;
}
.footer{
	background-color: #282828;
	padding: 1px 0 50px 0;

}
.media-responsive{
	width:50%;
	margin-bottom: 100px;
}
.img-zomebi{
	margin: auto;
}
.mini-banners-p{
	margin: auto;
	text-align: center;
}
.mini-banners-h1{
        text-align: center;
    }
    .input{
        margin-left: 43%;
        align-items: center;
        justify-content: center;
        width: 200px;
        padding-top:80px;
        margin:auto;
        box-sizing: border-box;
        border: none;
         border-bottom: 2px solid black;
         background-color: #282828;
         
    }
    input[type=button] {
        background-color: black;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
      .maili{
          background-color: #f0f0f0;
          height: 300px;
      }
      .pele{
          font-size: 30px;
          text-align: center;
          padding:80px ;
      }
      .sea{
        margin-left: 43%;
      }
      .raca1{
          float: right;
      }
      .popt{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
        color: #282828;
      }
      .popts{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
        color: #282828;
      }
      .popits{
          width: 400px;;
      }
      .mini-bannerss-1{
        max-width: 900px;
        margin: 0 auto;	
        width: 100%;
        margin-top:3%;;
        flex-wrap: nowrap;
      }
      .lastd{
          background-color: cornsilk;
          width: 165px;
          margin-left: 45%;
       }
      .bolo{
        width: 165px;
        border: 2px solid gray;
        height: 50px;;
        text-align: center;
        padding-top: 15px;;
      }
      .fas{
          display: none;
      }
       @media only screen and (max-width:1064px) {
        .main-div {
            width:1024px;
        }
        .banneer{
            margin-left: -8%;
            width: 117%;
        }
        }
    
        @media  (max-width:1023px) {
            body{
              
            }
            .main-div{
                width:768px;
            }
          .p1{
            width: 91%;
          }
          .mini-banners-1{
            margin-left: 1%;
          }
          .mini-banners-2{
            margin-left: 3%;
          }
          .banneer {
            width: 117%;
          }
          .imgimg{
            width: 95%;
          }
          .lastd {
            background-color: cornsilk;
            width: 165px;
            margin-left: 39%;
        }
        .nav-ul{
            margin-right: 6%;
        }
        .maili{
            width: 100%;
        }
         
        @media  (max-width:767px) {
            .main-div{
                width:425px;
            }
            .mini-banners-1 {
                margin-left: 0%;
                flex-wrap: wrap;
            }
          .p1 {
            margin-left: 0%;
            font-size: 13px;
        }
        .mini-banners-2 {
            margin-left: 0%;
            flex-wrap: wrap;
        }
          .mini-bannerss-1{
            margin-left: 0%;
            flex-wrap: wrap;
          }
          .maili {
            width: 99%;
        }
            .sea {
                margin-left: 26%;
            }
            .nav{
                display: none;
                }
            .fas{
                display: block;
             }
             
            .dd{
                margin-left: -16%;
            }
            .banneer {
                width: 117%;
            }
            
             @media  (max-width:424px) {
                .main-div{
                    width:375px;
                }
                .maili {
                    width: 155%;
                }
                .banneer {
                    width: 167%;
                }
                .h1 {
                    margin-left: 50%;
                }
                .h2{
                    width: 111%;
                }
                .p1 {
                    width: 142%;
                    margin-left: 4%;
                }
                .nav{
                    display: none;
                    }
                .fas{
                    display: block;
                 }
                 .mini-banners-1 {
                    margin-left: 20%;
                    flex-wrap: wrap;
                }
                .mini-banners-2 {
                    margin-left: 20%;
                    flex-wrap: wrap;
                }
                .mini-bannerss-1 {
                    margin-left: 20%;
                    flex-wrap: wrap;
                }
                .maili {
                    width: 148%;
                }
                @media  (max-width:374px) {
                    .main-div{
                        width:320px;
                    }
                    .banneer {
                        width: 108%;
                    }
                    .h1 {
                        margin-left: 2%;
                    }
                    .h2{
                        font-size: 21px;
                    }
                    .p1{
                        width: 93%;
                    }
                    .mini-banners-h3 {
                        margin-top: -90px;
                        margin-bottom: 20px;
                        font-size: 30px;
                        color: #282828;
                    }
                    .imgimg {
                        width: 59%;
                        height: 61%;
                    }
                    
                    .mini-banners-2 {
                        margin-left: 12%;
                        flex-wrap: wrap;
                    }
        
                    .mini-bannerss-1 {
                        margin-left: 12%;
                        flex-wrap: wrap;
                    }
                    .mini-banners-1 {
                        margin-left: 12%;
                        flex-wrap: wrap;
                    }
                    .maili {
                        width: 100%;
                    }
                    .sea{
                        margin-left: 8%;
                    }
                    
                                                            