.main-div{
    width:1064px;
    margin: 0 auto;
    margin-top: 1%;
}
.nav-li{
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
	font-size: 14px;
}
.nav-ul{
    float: right;
}
.logo{
    margin:0 auto;
    vertical-align: middle;
}
.flex{
    display:flex;
}
.space{
	justify-content: space-between;
	align-items: center;
}
.h1{
    text-align: center;
    margin-top: 1%;
}
.h2{
    font-size:30px;
}
.lastp{
    margin-top: 2%;
}
.p1{
    margin-top: 2%;
}

.size{
    width: 421px;
    height: 280px;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.ds{
    display: inline-block;
}
.size1{
    float: right;
}
.size{
    float: left;
}
.sa{
    margin-left: 10%;
}
.saba123{
    font-size:large;
    font-size: 30px;
    text-align: center;
}
.saba12{
    font-size: 15px;
    text-align: center;
    margin-top:1%;
}
.saba1234{
    width: 400px;
    text-align: center;
    margin-top:1%;
}
.main-div1{
    float: right;
    margin-right: 18%;
}
.main-div0{
    margin:0 auto;
    width: 1064px;
}
.spo{
    width: 400px;
    text-align: center;
    margin-bottom: 10%;
}
.tx{
    text-align: center;
}
.sopo{
    margin-top: 79%;
    font-size: 30px;
}
.sopo2{
    margin-bottom: 2%;
}
.main-div3{
    margin:0 auto;
    width: 1064px;

}
.gle{
    margin-top: 50%;
}